<div class="row">
    <div dashboard-item players-list="killsStats.topKillers" item-title="Top Killer" item-property="kills.length"></div>

    <div class="col-md-4 dashboard-panel">
        <div class="panel panel-primary">
            <div class="panel-body">
                <strong>Wins</strong>
            </div>
            <div class="panel-footer">
                <h1>
                    <strong style="color:red;">{{flagsStats.wins.1}}</strong>:<strong style="color:blue;">{{flagsStats.wins.2}}</strong>
                </h1>
            </div>
        </div>
    </div>

    <div dashboard-item players-list="flagsStats.topOverallScorers" item-title="Top Scorer" item-property="value" icon-name="medal_frags"></div>

    <div dashboard-item players-list="killsStats.topVictims" item-title="Top Victim" item-property="deaths.length"></div>

    <div dashboard-item players-list="killsStats.topHumilators" item-title="Top Humiliator" item-property="humiliations.length" icon-name="gauntlet"></div>

    <div class="col-md-4 dashboard-panel">
        <div class="panel panel-primary">
            <div class="panel-body">
                <strong>Total Players</strong>
            </div>
            <div class="panel-footer">
                <h1>
                    <strong><a href="/#/players">{{playersCount}}</a></strong>
                </h1>
            </div>
        </div>
    </div>

    <div dashboard-item players-list="killsStats.topFifthColumns" item-title="Top Fifth Column" item-property="teammatesKills.length"></div>

    <div class="col-md-4 dashboard-panel">
        <div class="panel panel-primary">
            <div class="panel-body">
                <strong>Top Fetch To Capture Ratio</strong>
            </div>
            <div class="panel-footer">
                <h1 ng-repeat="player in flagsStats.topOverallFetchToCaptureRatioPlayers">
                    <strong><a href="/#/players/{{player.name}}">{{player.name}}</a> ({{player.value | number:2}})</strong>
                    <br>
                    <div class="fetch-capture-ratio">1 capture per {{1 / player.value | number:2}} fetches</div>
                </h1>
            </div>
        </div>
    </div>
</div>
