<h1>Flags</h1>
<div class="row">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-body">
                Total Wins
            </div>
            <div class="panel-footer">
                <strong style="color:red;">{{stats.wins.1}}</strong>:<strong style="color:blue;">{{stats.wins.2}}</strong>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-body">
                Total Flags
            </div>
            <div class="panel-footer">
                <strong style="color:red;">{{stats.capturedFlags.1}}</strong>:<strong style="color:blue;">{{stats.capturedFlags.2}}</strong>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-body">
                Top Scorer
            </div>
            <div class="panel-footer">
                <strong ng-repeat="topOverallScorer in stats.topOverallScorers">
                    {{topOverallScorer.name}} ({{topOverallScorer.value}})
                    <br>
                </strong>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-body">
                Top Fetcher
            </div>
            <div class="panel-footer">
                <strong ng-repeat="topOverallFetcher in stats.topOverallFetchers">
                    {{topOverallFetcher.name}} ({{topOverallFetcher.value}})
                    <br>
                </strong>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-body">
                Top Returner
            </div>
            <div class="panel-footer">
                <strong ng-repeat="topOverallRetuner in stats.topOverallRetuners">
                    {{topOverallRetuner.name}} ({{topOverallRetuner.value}})
                    <br>
                </strong>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-body">
                Top Carrier Killer
            </div>
            <div class="panel-footer">
                <strong ng-repeat="topOverallCarrierFragger in stats.topOverallCarrierFraggers">
                    {{topOverallCarrierFragger.name}} ({{topOverallCarrierFragger.value}})
                    <br>
                </strong>
            </div>
        </div>
    </div>
</div>
<h3>Maps</h3>
<div class="row-fluid">
	<div>
         <table class="table table-bordered table-striped">
             <thead>
             <tr>
                <th>Map Name</th>
               	<th>Red Score</th>
               	<th>Blue Score</th>
                <th>Top Scorer</th>
               	<th>Top Returner</th>
                <th>Top Carrier Killer</th>
                <th>Top fetcher</th>
                <th>End Reason</th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="map in objectToArray(stats.maps)">
                <td><a ng-href="/{{routeParams.gameId}}/maps/{{map.logStartIndex}}">{{ map.name | MapNameFilter}}</a></td>
                <td>{{ map.score.1 }}</td>
                <td>{{ map.score.2 }}</td>
                <td>
                    <div ng-repeat="topScorer in map.topScorers">
                        {{ topScorer.name }} ({{topScorer.scores}})
                    </div>
                </td>
                <td>
                    <div ng-repeat="topReturner in map.topReturners">
                        {{ topReturner.name }} ({{topReturner.returns}})
                    </div>
                </td>
                <td>
                    <div ng-repeat="topCarrierFragger in map.topCarrierFraggers">
                        {{ topCarrierFragger.name }} ({{topCarrierFragger.carrierFrags}})
                    </div>
                </td>
                <td>
                    <div ng-repeat="topFetcher in map.topFetchers">
                        {{ topFetcher.name }} ({{topFetcher.fetches}})
                    </div>
                </td>
                <td>{{ map.endReason }}</td>
             </tr>
             </tbody>
         </table>
     </div>
</div>