<h1>Flags</h1>

<div>
    Red Wins: {{stats.wins.1}} // Blue Wins: {{stats.wins.2}}
</div>
<div>
    Red Captured Flags: {{stats.capturedFlags.1}} // Blue Captured Flags: {{stats.capturedFlags.2}}
</div>
 <div class="row-fluid">
	<div>
         <table class="table table-bordered table-striped">
             <thead>
             <tr>
                <th>Map Name</th>
               	<th>Red Score</th>
               	<th>Blue Score</th>
                <th>Top Scorer</th>
               	<th>Top Retuner</th>
                <th>Top Carrier Fragger</th>
                <th>Top fetcher</th>
                <th>End Reason</th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="map in stats.maps">
                <td>{{ map.name }}</td>
                <td>{{ map.score.1 }}</td>
                <td>{{ map.score.2 }}</td>
                <td>{{ map.topScorer.name }} ({{map.topScorer.scores}})</td>
                <td>{{ map.topReturner.name }} ({{map.topReturner.returns}})</td>
                <td>{{ map.topCarrierFragger.name }} ({{map.topCarrierFragger.carrierFrags}})</td>
                <td>{{ map.topFetcher.name }} ({{map.topFetcher.fetches}})</td>
                <td>{{ map.endReason }}</td>
             </tr>
             </tbody>
         </table>
     </div>