<h1>Kills</h1>
<h4>Top Killer - <strong>{{killsStats.topKiller.name}} ({{killsStats.topKiller.kills.length}} kills)</strong></h4>
<h4>Top Victim - <strong>{{killsStats.topVictim.name}} ({{killsStats.topVictim.deaths.length}} deaths)</strong></h4>
<div class="row">
    <div class="col-md-6">
        <h3>Maps</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Map Name</th>
                    <th>Top Killer</th>
                    <th>Top Victim</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="map in killsStats.maps">
                    <td>{{ map.name | MapNameFilter}}</td>
                    <td>{{ map.topKiller.name}} ({{map.topKiller.kills.length}})</td>
                    <td>{{ map.topVictim.name}} ({{map.topVictim.deaths.length}})</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>Humilations</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Humiliations</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in filterHumiliators(players) | orderBy:'-humiliations.length'">
                    <td>{{player.name}}</td>
                    <td>{{player.humiliations.length}}</td>
                </tr>
            </tbody>
         </table>
     </div>
</div>

<h3>Killer/Victim</h3>
<div class="row-fluid">
         <table class="table table-bordered table-striped">
             <tbody>
             	<tr>
             		<td rowspan="2"></td>
             		<td colspan="100" style="text-align:center;">VICTIMS</td>
             	</tr>
             	<tr>
	            	<td ng-repeat="player in killsStats.players"><a href="/#/players/{{player.name}}">{{player.name}}</a></td>
	            	<td><b>Total Kills</b></td>
             	</tr>
            	<tr ng-repeat="killer in killsStats.players">
	            	<td><b><a href="/#/players/{{killer.name}}">{{killer.name}}</a></b></td>
	            	<td ng-repeat="victim in killsStats.players" style="text-align:center;" ng-class="{danger: killer.name==victim.name}">{{getTotalKillsByPlayers(killer.name, victim.name)}}</td>
	            	<td style="text-align:center;"><b>{{getTotalKills(killer.name)}}</b></td>
	            </tr>
	            <tr>
	            	<td><b>Total Deaths</b></td>
	            	<td ng-repeat="player in killsStats.players" style="text-align:center;"><b>{{getTotalDeaths(player.name)}}</b></td>
	            	<td></td>
	            </tr>
             </tbody>
         </table>
</div>