 <h1>Games</h1>
     <div>
         <table class="table table-bordered">
             <thead>
             <tr>
                 <th width="120">Stats name</th>
                 <th width="120">Red Score</th>
                 <th width="120">Blue Score</th>
                 <th width="120">Tie</th>
                 <th width="120">Winner</th>
             </tr>
             </thead>
             <tbody>
             <tr ng-repeat="stat in crossGamesStats">
                 <td width="120">{{ stat.name }}</a></td>
                 <td width="120">{{ stat.value.score[Constants.RED] }}</td>
                 <td width="120">{{ stat.value.score[Constants.BLUE] }}</td>
                 <td width="120">{{ stat.value.score[Constants.TIE] }}</td>
                 <td width="120" class="{{ stat.value.winner | ColorFilter | lowercase }}">{{ stat.value.winner | ColorFilter }}</td>
             </tr>
             </tbody>
         </table>
     </div>

	<div class="row-fluid">
  	<div>
	  	<table class="table table-bordered table-striped">
			<thead>
				<tr>				
					<th width="120">Name</th>
					<th width="120">Red Score</th>
					<th width="120">Blue Score</th>
					<th width="120">Best Scorer</th>
					<th width="120">Best Fetcher</th>					
					<th width="120">Best Rebounder</th>
					<th width="120">Best Restorer</th>
				</tr>					
			</thead>
			<tbody>
				<tr ng-repeat="game in games">
					<td width="120"><a ng-href="{{'/' + gameId + '/games/' + $index">{{game.name}}</a></td>
					<td width="120">{{game.score.1}}</td>
					<td width="120">{{game.score.2}}</td>
					<td width="120">{{game.bestScorer.name}} ({{game.bestScorer.scoredFlags}})</td>
					<td width="120">{{game.bestFetcher.name}} ({{game.bestFetcher.fetchedFlags}})</td>
					<td width="120">{{game.bestRebounder.name}} ({{game.bestRebounder.reboundedFlags}})</td>
					<td width="120">{{game.bestRestorer.name}} ({{game.bestRestorer.restoredFlags}})</td>
				</tr>					
			</tbody>
		</table>
	</div>
</div>
