<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavigationCtrl">
  <!-- Brand and toggle get grouped for better mobile display -->
  <a class="navbar-brand"><img src="/resources/images/gauntlet.png" height="20"/></a>
  <ul class="nav navbar-nav">
      <li ng-repeat="item in menu.items"><a href="/{{item.data}}">{{item.label}}</a></li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">PLAYERS <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li ng-repeat="player in players"><a href="players/{{player.name}}">{{player.name}}</a></li>
          <li class="divider"></li>
          <li><a href="/players">All</a></li>
        </ul>
      </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
      <li><a href="#">v0.0.0</a></li>
  </ul>
</nav>