<div class="col-md-4 dashboard-panel">
    <div class="panel panel-primary">
        <div class="panel-body">
            <img ng-if="iconName" ng-src="/resources/images/{{iconName}}.png" height="20"/>&nbsp;&nbsp;
            <strong>
                {{ itemTitle }}
            </strong>
        </div>
        <div class="panel-footer">
            <h1 ng-repeat="player in playersList">
                <strong>
                    <a href="/#/players/{{player.name}}">
                        {{player.name}}
                    </a>
                    ({{getValue(player)}})
                </strong>
            </h1>
        </div>
    </div>
</div>